In [ ]:
#create a list and add an item into the list

In [36]:
item = [100,300,500,700,900,1300]
n = (item[:6])
print(n)

[100, 300, 500, 700, 900, 1300]

In [37]:
item.append(400)
print(item)

[100, 300, 500, 700, 900, 1300, 400]

In [40]:
item.insert(3,200)
print(item)

[100, 300, 500, 200, 700, 900, 1300, 400]

In [ ]:
#delete a item from the list

In [47]:
item = [2,4,6,8,7,5,3]
item.pop(3)
print(item)

[2, 4, 6, 7, 5, 3]

In [54]:
item = [2,4,6,8,7,5,3]
item.remove(3)
print(item)

[2, 4, 6, 8, 7, 5]

In [ ]:
#store largest number from list to variable

In [51]:
item = [56,44,60,34,55,10,23]
large = max(item)
print(large)

60

In [ ]:
#store smallest number from list to variable

In [52]:
item = [56,44,60,34,55,10,23]
small = min(item)
print(small)

10

In [ ]:
# create a tuple and reverse a created tuple

In [2]:
A = (1,3,5,'a','c',"hello",8)
my_tuple = (A[-1],A[-2],A[-3],A[-4],A[-5],A[-6],A[-7])
print(my_tuple)

(8, 'hello', 'c', 'a', 5, 3, 1)

In [ ]:
# create a tuple and convert tuple into list

In [3]:
my_tuple = ("hello","bye",1,4,5,'a','b')
l = list(my_tuple)
print(l)

['hello', 'bye', 1, 4, 5, 'a', 'b']