In [ ]:
#create three variables (a,b,c) of same value of any integer

In [3]:
a = 40
b = 40
c = 40
print(a)
print(b)
print(c)

40
40
40

In [41]:
divide =(a/10)
print(divide)

4.0

In [5]:
multiply = b*10
print(multiply)

400

In [6]:
add = c+60
print(add)

100

In [ ]:
#create a string variable of 5 characters and replace 3rd character with G

In [35]:
str = "HANDS"
print(str)

HANDS

In [36]:
x = str.replace('N','G')
print(x)

HAGDS

In [ ]:
#create two values (a,b) of int,float data type and convert the viseversa

In [ ]:
#convert from int to float data type

In [37]:
a_int = 5
b_int = 4
c_float_sum = float(a_int + b_int)
print(c_float_sum)

9.0

In [ ]:
#convert from float to int data type

In [39]:
a_float = 5.0
b_float = 3.3
c_int_sum = int(a_float + b_float)
print(c_int_sum)

8