In [ ]:
 #Write a Python script to merge two Python dictionaries

In [1]:
dic1={0:'a',2:'b',4:'c',6:'d'}
dic2={8:'e',10:'f',12:'g'}

print("dic2: ",dic2)

dic3={**dic1, **dic2}                             # method 1
dic2.update(dic1)                                  # method 2

print(dic1)
print(dic3)
print(dic2)

dic2:  {8: 'e', 10: 'f', 12: 'g'}
{0: 'a', 2: 'b', 4: 'c', 6: 'd'}
{0: 'a', 2: 'b', 4: 'c', 6: 'd', 8: 'e', 10: 'f', 12: 'g'}
{8: 'e', 10: 'f', 12: 'g', 0: 'a', 2: 'b', 4: 'c', 6: 'd'}

In [ ]:
#Write a program to sort the value from descending to ascending in list and convert it in to a set

In [2]:
list1=[90,60,50,32,41,54,85,268,15,265,59]
list1.sort()                                      #sort list in ascending order
print(list1)

[15, 32, 41, 50, 54, 59, 60, 85, 90, 265, 268]

In [3]:
list1.sort(reverse=True)
print(list1)

[268, 265, 90, 85, 60, 59, 54, 50, 41, 32, 15]

In [4]:
set1=set(list1) 
print(set1)

{32, 265, 41, 268, 15, 50, 85, 54, 90, 59, 60}

In [5]:
type(set1)

set

In [6]:
type(list1)

list

In [ ]:
#Write a Python program to list number of items in a dictionary key and sort the list with the help of a function & without the function.

In [7]:
dic1={'Divesh':[12,13,31,16],'Renuka':[12,77,54,43],'Shriram':[34,87,28,98],'Anuj':[33,66,55,44]}
result={k:sorted(dic1[k]) for k in sorted(dic1)}
print(result)

{'Anuj': [33, 44, 55, 66], 'Divesh': [12, 13, 16, 31], 'Renuka': [12, 43, 54, 77], 'Shriram': [28, 34, 87, 98]}

In [8]:
def function1(dic1):
    res = dict()
    for key in sorted(dic1):
        res[key] = sorted(dic1[key])
    return res

In [9]:
function1(dic1)

{'Anuj': [33, 44, 55, 66],
 'Divesh': [12, 13, 16, 31],
 'Renuka': [12, 43, 54, 77],
 'Shriram': [28, 34, 87, 98]}

In [10]:
def function2(dic1):
    res=dict()
    min1=dic1[key]
    for key in sorted(dic1):
        if dic1[key]<min1:
            min1=dic1[key]
            res[key]=min1
    return res

In [11]:
function1(dic1)

{'Anuj': [33, 44, 55, 66],
 'Divesh': [12, 13, 16, 31],
 'Renuka': [12, 43, 54, 77],
 'Shriram': [28, 34, 87, 98]}

In [ ]:
#Write a Python program to get a string from a given string (user input) and change the first occurrence of the word to a user specified input.

In [12]:
def string():
    user=input("Enter the string :")
    word="String given by user! "
    return user+word[6:]

In [13]:
string()

Enter the string :HELLO

'HELLO given by user! '

In [14]:
def string1():
    user=input("Enter the string :")
    word="String is given by user  "
    return word.replace('String',user)

In [15]:
string1()

Enter the string :HI

'HI is given by user  '

In [ ]:
#Write a Python program to get a string from a given string where all occurrences of its first char have been changed to capital letter.

In [16]:
def function3():
    user=input("Enter the string :")
    return user.capitalize()

In [17]:
function3()

Enter the string :hello

'Hello'

In [18]:
def change_char(str1):
    char = str1[0]
    str1 = str1.replace(char, str1[0].upper())
    str1 = char + str1[1:]
    return str1

In [19]:
change_char('hello world ! this is a python program')

'hello world ! tHis is a pytHon program'

In [ ]:
#Write a Python program to find the repeated items of a list

In [20]:
from collections import Counter
 
L1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(L1)
print(d)
 
new_list = list([item for item in d if d[item]>1])
print(new_list)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
[1, 2, 5, 9]

In [21]:
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated
list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

In [ ]:
#Write a Python program to check the sum of three elements and divided by a value which is given as an input by the user

In [22]:
a=int(input("Enter number :"))
b=int(input("Enter number :"))
c=int(input("Enter number :"))
sum=a+b+c
print("Sum is: ",sum)
user=int(input("Enter the number to divide sum!"))
if sum% user==0:
    print("The given input divide")
else :
    print("The given input does not divide sum1")

Enter number :25
Enter number :24
Enter number :50
Sum is:  99
Enter the number to divide sum!9
The given input divide

In [ ]:
#Write a Python program to find the Mean,median,mode among three given numbers

In [23]:
given_numbers = [1,2,2]
addition = 0
for i in given_numbers:
    addition = addition +i
print("addition",addition)
length = len(given_numbers)
mean = addition/length
print("mean :",mean)

given_numbers.sort()
if length%2==0:
    median1 = given_numbers[length//2]
    median2=given_numbers[length//2-1]
    median = (median1+median2)/2
else:
    median = given_numbers[length//2]
print("median is:",median)
import statistics
mode1=statistics.mode(given_numbers)
print("mode is :",mode1)

addition 5
mean : 1.6666666666666667
median is: 2
mode is : 2

In [ ]:
#Write a Python program to swap cases of a given string

In [24]:
a="Sanmitha"
b="Hello"
tep=a
a=b
b=tep
print(a,b)

Hello Sanmitha

In [25]:
x = a
y = b
x, y = y, x
print(x,y)

Sanmitha Hello

In [ ]:
# Write a program to convert an integer to binary & octa decimal

In [26]:
def decToOctal(n):
    octalNum = [0] * 100
    i = 0
    while (n != 0):
        octalNum[i] = n % 8
        n = int(n / 8)
        i += 1
    for j in range(i - 1, -1, -1):
        print(octalNum[j], end="")

In [27]:
n=25
decToOctal(n)

31

In [28]:
n=12
decToOctal(n)

14